[submodule "bukkit"]
	path = bukkit
	url = https://github.com/KweezyCode/KwCoreBukkit.git
	branch = KwCore
[submodule "craftbukkit"]
	path = craftbukkit
	url = https://github.com/KweezyCode/KwCoreCraftBukkit.git
	branch = KwCore
